# Files and patterns to ignore.
# Lines that start with '#' are comments.

*.[oa]
*.so
*~
\#*
.#*
tags
TAGS

# For the vi lovers
*.swp

*.d
.depend

test-spot/test-spot
test-spot/test-alsa
test-spot/tmp/
